.tweet {
  border: 1px solid #cccccc;
  border-radius: $borderRadius;
  margin: 0 0 .5em;
  overflow: hidden;

  header{
    background-color: #f3f3f3;
    height: 70px;
    padding: 10px;
  }

  footer {
    border-top: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    font-size: 60%;
    padding: 10px;
  }

  .avatar {
    float: left;
    width: 50px;
    border-radius: $borderRadius;
  }

  .aliases {
    color: #657e85;
    display: flex;
    justify-content: space-between;
    margin: 0;
  }

  .name {
    line-height: 1;
    margin: 0 10px;
  }

  .handle {
    line-height: 2;
    color: #a0a0a0;
    font-size: 80%;
    margin: 0;
  }

  .tweet-body {
    padding: 10px;
  }

  .actions {
    font-family: fontAwesome;
    display: flex;
    visibility: hidden;
  }

  .actions a {
    margin: 0 3px;
    text-decoration: none;
    color: #53bca9;
    font-size: 120%;
  }
}