#nav-bar {
  background-color: #00a087;
  color: #ee88ff;
  height: 80px;
  padding: 0 2em;
  position: fixed;
  width: 100vw;
  min-width: 450px;
  z-index: 1;
}

#nav-bar .logo {
  float :left;
  height: 80px;
  padding-right: 10px
}

#nav-bar .header {
  float: left;
  font-size: 200%;
  line-height: 2.5;
}